<div  class="score-table-wrapper">
  <h2>{{(topScores$ | async)?.[0]?.game}}</h2>
  <table class="score-table">
    <thead>
      <tr>
        <th>Player</th>
        <th class="score-table-points">Points</th>
        <th>Played on</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let score of (topScores$ | async)">
        <td>{{score.player}}</td>
        <td class="score-table-points">{{score.points}}</td>
        <td>{{formatDate(score.playedOn)}}</td>
      </tr>

  </table>

  <div *ngIf="(getError$ | async)?.status == 0" class="score-table-wrapper">
    <p>no database connection</p>
  </div>

  <div *ngIf="(getError$ | async)?.status != 0" class="score-table-wrapper">
    <p>{{ ( getError$ | async)?.message }} </p>
  </div>

  <div *ngIf="(isPostingScore$ | async)" class="table-overlay">posting score ...</div>
  <div *ngIf="(isLoadingScores$ | async)" class="table-overlay">loading score ...</div>
</div>



