/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(28,29,31,255);
}

.overlay {
  position: absolute;
  display: grid;
  gap: 28px;
  place-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
  z-index: 6;
  color: white;
  font-size: 1.5rem;
  line-height: 0;
  user-select: none;
}
.lose-screen {
  background-color: rgba(149, 36, 36, 0.7);
}

.win-screen {
  background-color: rgba(36, 149, 66, 0.7);
}

.reset-screen {
  background-color: rgba(36, 60, 149, 0.7);
}